.section {
    &__container {
        max-width: 1650px;
        margin: 0 auto;
        padding: 0 10px;
    }

    &--about {
        height: 80vh;
    }
}

.about {
    &__container {
        height: 75vh;
        width: auto;
        margin: 0 50px 0 50px;
        background-color: rgb(254, 242, 230, 0.5);
        border: 1px rgb(255, 0,0,0) solid;
        border-radius: 20px;
    }

    &__brandfirm {
        height: 209px;
        width: 410px;
        margin: 150px 0 auto 50px;

        h1 {
            font: 100% $fontstack;
            font-size: 2.4em;
            font-weight: 700;
            color: black;
            margin-bottom: 15px;
        }

        p {
            font: 100% $font-face;
            font-weight: 200;
            font-size: 1.2m;
            width: 420px;
        }
    }

    .button {
        font: 100% $fontstack;
        padding: 15px 40px 15px 40px;
        font-size: 1em;
        font-weight: 600;
    }

    &__button--white {
        background: #FFF;
    }

    &__button--black {
        background: #000;
        color: white;
    }

    &__awards {
        overflow: hidden;
        position: relative;
        top: -225px;
        right: 100px;

        .about__award {
            display: flex;
            align-items: center;
            box-sizing: border-box;
            background-color: white;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
            padding: 10px;
            margin: 10px;
            float: right;
            width: 310px;
            height: 122px;

            img {
                margin: 0 0 0 20px;
                height: 40px;
            }
        }
    }

    &__container--small {
        font: 100% $font-face;
        margin-left: 10px;
        

        h3 {
            font-size: 0.875em;
            margin: 0 0 0 0;
        }

        p {
            font-size: 0.875em;
            margin: 0;
            line-height: 20px;
            width: 120px;
        }
    }
}