#logo {
  width: 170px;
  margin: 50px 0 0 50px;
}

#sayhello {
  height: 70px;
  float: right;
  margin: 30px 50px 0 0;
}

nav {
  display: inline-block;
  margin: 0 0 0 0;
  font-size: 1rem;
  font-style: normal;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 55px 0 0 70px;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
nav li {
  font: 100% "Palanquin", sans-serif;
  display: inline-block;
  padding: 0 30px 0 0;
  margin-left: 45px;
  color: #413d3d;
}

.section__container {
  max-width: 1650px;
  margin: 0 auto;
  padding: 0 10px;
}
.section--landingspage {
  height: 100vh;
  width: 100%;
  max-width: 1650px;
  margin: 0 auto;
  padding: 0 10px;
}

.landingspage {
  display: inline-block;
}

.landingspage__photo {
  width: 960px;
  float: right;
  position: absolute;
  top: 100px;
  right: -100px;
  z-index: -99;
}

.landingspage__text {
  margin: 0 0 0 50px;
  z-index: 2;
  width: 650px;
}
.landingspage__text .landingspage__header {
  font: 100% "Work Sans", sans-serif;
  font-size: 4.5em;
  font-weight: bold;
  margin: 140px 0 0 0;
}
.landingspage__text .landingspage__paragraph {
  font: 100% "Work Sans", sans-serif;
  font-weight: 100;
  font-size: 23px;
  margin: 0;
}

.landingspage__arrow--down {
  width: 50px;
  margin: 200px 0 0 50px;
}

.section__container {
  max-width: 1650px;
  margin: 0 auto;
  padding: 0 10px;
}
.section--goals {
  height: 80vh;
}

.goals {
  margin: 100px 0 0 50px;
}
.goals__container {
  margin: 40px auto;
}
.goals__wrapper {
  position: relative;
  top: 100px;
  background-color: #342F2F;
  margin: 10px 0 0 0;
  padding-top: 10px;
  width: 110vw;
}
.goals__header {
  font: 100% "Work Sans", sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  margin: 10px 0;
}
.goals__intro {
  margin: 0;
  font: 100% "Palanquin", sans-serif;
  font-size: 1.2em;
  font-weight: 200;
  width: 400px;
  line-height: 30px;
}
.goals__items {
  display: flex;
}

.goal {
  display: inline-block;
  height: 316px;
  width: 310px;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin: 0 12px auto;
  font: 100% "Palanquin", sans-serif;
}
.goal__icon {
  height: 25px;
  margin-top: 30px;
}
.goal h2 {
  color: black;
  font-size: 1.3em;
  width: 200px;
  margin: 0 auto;
  padding: 10px 0;
  line-height: 25px;
  font-weight: 500;
}
.goal p {
  font-size: 1.2em;
  font-weight: 200;
  line-height: 25px;
  width: 225px;
  margin: 10px auto;
}
.goal .goal__button {
  width: 179px;
  height: 48px;
  margin-top: 15px;
  background-color: #ffedcc;
  font-size: 0.8em;
  border: none;
  font-weight: 600;
  border-radius: 5px;
}

.section__container {
  max-width: 1650px;
  margin: 0 auto;
  padding: 0 10px;
}
.section--review {
  height: 120vh;
}

.review__header {
  margin: 0 auto;
  font: 100% "Work Sans", sans-serif;
}
.review__heading {
  font-size: 2.5em;
  width: 600px;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}
.review__intro {
  font: 100% "Palanquin", sans-serif;
  width: 420px;
  text-align: center;
  margin: 20px auto;
  font-size: 1.3em;
  font-weight: 200;
  line-height: 25px;
}
.review__container {
  margin: 0 40px 0 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.review__companies {
  display: block;
  width: 423px;
  height: 600px;
  margin: 5px 0 5px 50px;
}
.review__wrap {
  display: block;
  margin: 0 40px 0 0;
  width: 100%;
  font: 100% "Palanquin", sans-serif;
}
.review__person {
  margin: 10px 30px 0 80px;
  width: 850px;
  height: 400px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding-top: 40px;
}
.review__comment {
  width: 740px;
  font-size: 1.4em;
  margin: 30px auto;
  font-weight: 300;
  color: grey;
  line-height: 35px;
}
.review__ratings {
  width: 850px;
  height: 195px;
  margin: 5px 30px 5px 80px;
}
.review__item {
  display: flex;
  height: 112px;
  width: 408px;
  margin: 5px;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  font: 100% "Work Sans", sans-serif;
}
.review__item img {
  width: 70px;
  margin-left: 20px;
}
.review__personcontainer {
  display: flex;
  margin: 0 0 0 55px;
}
.review__personcontainer img {
  margin: 8px 0 0 0;
  width: 52px;
  height: 52px;
}
.review__container--small {
  margin-left: 20px;
  width: 250px;
}
.review__container--small h4 {
  font: 100% "Palanquin", sans-serif;
  color: grey;
  font-weight: 600;
  margin: 0;
  font-size: 1.2em;
}
.review__container--small p {
  margin: 0;
  font-weight: 100;
}
.review__arrow--right {
  max-width: 100%;
  height: 40px;
}
.review__rating {
  width: 300px;
  margin: 30px 0 0 0;
}
.review__rating--google {
  font-size: 1.1em;
  font-weight: 200;
  line-height: 25px;
  margin-top: 10px;
  width: 400px;
}

.section__container {
  max-width: 1650px;
  margin: 0 auto;
  padding: 0 10px;
}
.section--about {
  height: 80vh;
}

.about__container {
  height: 75vh;
  width: auto;
  margin: 0 50px 0 50px;
  background-color: rgba(254, 242, 230, 0.5);
  border: 1px rgba(255, 0, 0, 0) solid;
  border-radius: 20px;
}
.about__brandfirm {
  height: 209px;
  width: 410px;
  margin: 150px 0 auto 50px;
}
.about__brandfirm h1 {
  font: 100% "Work Sans", sans-serif;
  font-size: 2.4em;
  font-weight: 700;
  color: black;
  margin-bottom: 15px;
}
.about__brandfirm p {
  font: 100% "Palanquin", sans-serif;
  font-weight: 200;
  font-size: 1.2m;
  width: 420px;
}
.about .button {
  font: 100% "Work Sans", sans-serif;
  padding: 15px 40px 15px 40px;
  font-size: 1em;
  font-weight: 600;
}
.about__button--white {
  background: #FFF;
}
.about__button--black {
  background: #000;
  color: white;
}
.about__awards {
  overflow: hidden;
  position: relative;
  top: -225px;
  right: 100px;
}
.about__awards .about__award {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 10px;
  margin: 10px;
  float: right;
  width: 310px;
  height: 122px;
}
.about__awards .about__award img {
  margin: 0 0 0 20px;
  height: 40px;
}
.about__container--small {
  font: 100% "Palanquin", sans-serif;
  margin-left: 10px;
}
.about__container--small h3 {
  font-size: 0.875em;
  margin: 0 0 0 0;
}
.about__container--small p {
  font-size: 0.875em;
  margin: 0;
  line-height: 20px;
  width: 120px;
}

.section__container {
  max-width: 1650px;
  margin: 0 auto;
  padding: 0 10px;
}
.section--clients {
  height: 100vh;
}

.clients {
  margin: 100px 0 0 50px;
}
.clients__container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 10px;
  row-gap: 30px;
  height: 200px;
  margin: 0 80px 10px 0;
  padding: 0;
}
.clients__company {
  font-size: 12px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0;
  margin: 0;
}
.clients__container--small {
  margin: 40px auto;
}
.clients__heading {
  font: 100% "Work Sans", sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  margin: 10px 0;
}
.clients__intro {
  margin: 0;
  font: 100% "Palanquin", sans-serif;
  font-size: 1.2em;
  font-weight: 200;
  width: 400px;
  line-height: 30px;
}
.clients__image {
  max-width: 130px;
}

.section__container {
  max-width: 1650px;
  margin: 0 auto;
  padding: 0 10px;
}
.section--results {
  height: 100vh;
}

.results {
  margin: 100px 0 0 50px;
}
.results__container {
  display: flex;
  height: 75vh;
  width: auto;
  margin: 0 50px 0 0;
}
.results__container--small {
  margin: 40px auto;
}
.results__heading {
  font: 100% "Work Sans", sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  margin: 10px 0;
}
.results__intro {
  margin: 0;
  font: 100% "Palanquin", sans-serif;
  font-size: 1.2em;
  font-weight: 200;
  width: 400px;
  line-height: 30px;
}
.results__cardcontainer {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  width: 319px;
  height: 560px;
  margin: 0 30px 0 0;
}
.results__cardcontainer--info {
  display: block;
}
.results__card--info {
  font: 100% "Palanquin", sans-serif;
  font-size: 1.3em;
  width: 190px;
  overflow: auto;
  display: block;
  margin: 20px 0 20px 10px;
  font-weight: 200;
}
.results__card--arrowright {
  float: right;
  margin: -80px 10px 0 0;
  clear: both;
}
.results__progress {
  display: block;
  width: 400px;
  margin: 50px auto;
  align-items: center;
}

.section__container {
  max-width: 1650px;
  margin: 0 auto;
  padding: 0 10px;
}
.section--contact {
  height: 80vh;
}

.contact {
  margin: 200px 0 0 50px;
}
.contact__container {
  display: flex;
}
.contact__container--small {
  margin: 40px auto;
}
.contact__heading {
  font: 100% "Work Sans", sans-serif;
  font-size: 2.5em;
  font-weight: 600;
  margin: 10px 0;
}
.contact__card {
  display: flex;
  width: 350px;
  height: 80px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin: 0 0 15px 1px;
  font: 100% "Palanquin", sans-serif;
  align-items: center;
}
.contact__card--icon {
  width: 25px;
  margin: 0 20px 0 30px;
}
.contact__card--info {
  font-size: 1.1em;
  width: 225px;
  font-weight: 200;
}
.contact__card--arrowright {
  float: right;
  width: 40px;
}
.contact__info {
  display: flex;
}
.contact__info--section {
  position: relative;
  left: 250px;
  bottom: 100px;
  margin: 0 0 0 70px;
}
.contact__info--section h1 {
  font: 100% "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  padding-bottom: 23px;
}
.contact__info--section p {
  font: 100% "Palanquin", sans-serif;
  font-size: 1.1em;
  font-weight: 200;
}
.contact__footer {
  display: flex;
  position: relative;
  top: 50px;
}
.contact__footer p {
  font: 100% "Palanquin", sans-serif;
  margin: 0 40px 0 0;
  font-size: 1.1em;
  font-weight: 200;
}
.contact__footer--socials {
  position: relative;
  top: 7px;
  height: 24px;
  width: auto;
  padding-left: 30px;
}
.contact__footer--logo {
  position: relative;
  left: 300px;
}

body {
  width: 100%;
  padding: 0;
  margin: 0em;
  overflow-x: hidden;
}

/*# sourceMappingURL=app.css.map */
