@import "global";
@import "navigation";
@import "landingpage"; 
@import "goal";
@import "review";
@import "about";
@import "clients";
@import "results";
@import "contact";

body {
  width: 100%;
  padding: 0;
  margin: 0em;
  overflow-x: hidden;
}




 
    
