.section {
    &__container {
        max-width: 1650px;
        margin: 0 auto;
        padding: 0 10px;
    }

    &--clients {
        height: 100vh;
    }
}

.clients {

    margin: 100px 0 0 50px;

    &__container {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-gap: 10px;
        row-gap: 30px;
        height: 200px;
        margin: 0 80px 10px 0 ;
        padding: 0;
      }
      
      &__company {
        font-size: 12px;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 0;
        margin: 0;
      }

    &__container--small {
        margin: 40px auto;
    }

    &__heading {
        font: 100% $fontstack;
        font-size: 2.5em;
        font-weight: 600;
        margin: 10px 0;
    }

    &__intro {
        margin: 0;
        font: 100% $font-face;
        font-size: 1.2em;
        font-weight: 200;
        width: 400px;
        line-height: 30px;
    }

    &__image {
        max-width: 130px;
    }
}

