.section {
    &__container {
        max-width: 1650px;
        margin: 0 auto;
        padding: 0 10px;
    }

    &--contact {
        height: 80vh;
    }
}
.contact {
   
    margin: 200px 0 0 50px;

    &__container {
        display: flex;
    }

    &__container--small {
        margin: 40px auto;
    }

    &__heading {
        font: 100% $fontstack;
        font-size: 2.5em;
        font-weight: 600;
        margin: 10px 0;
    }

    &__card {
        display: flex;
        width: 350px;
        height: 80px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        margin: 0 0 15px 1px;
        font: 100% $font-face;
        align-items: center;

        &--icon {
            width: 25px;
            margin: 0 20px 0 30px;
        }
        &--info {
            font-size: 1.1em;
            width: 225px;
            font-weight: 200;
        }
        &--arrowright {
            float: right;
            width: 40px;
        }
    }

    &__info {
        display: flex;

        &--section {
            position: relative;
            left: 250px;
            bottom: 100px;
            margin: 0 0 0 70px;

            h1 {
                font: 100% $fontstack;
                font-weight: 600;
                font-size: 1.5em;
                padding-bottom: 23px;
            }
            
            p {
                font: 100% $font-face;
                font-size: 1.1em;
                font-weight: 200;
            }
        }
    }

    &__footer {
        display: flex;
        position: relative;
        top: 50px;

        p {
            font: 100% $font-face;
            margin: 0 40px 0 0;
            font-size: 1.1em;
            font-weight: 200;
        }

        &--socials {
            position: relative;
            top: 7px;
            height: 24px;
            width: auto;
            padding-left: 30px;
        }

        &--logo {
            position: relative;
            left: 300px;
        }
        
    }
}