.section {
    &__container {
        max-width: 1650px;
        margin: 0 auto;
        padding: 0 10px;
    }

    &--goals {
        height: 80vh;
    }
}

.goals {
    margin: 100px 0 0 50px;

    &__container {
        margin: 40px auto;
    }
    
    &__wrapper {
        position: relative;
        top: 100px;
        background-color: #342F2F;
        margin: 10px 0 0 0;
        padding-top: 10px;
        width: 110vw;
    }

    &__header {
        font: 100% $fontstack;
        font-size: 2.5em;
        font-weight: 600;
        margin: 10px 0;
    }

    &__intro {
        margin: 0;
        font: 100% $font-face;
        font-size: 1.2em;
        font-weight: 200;
        width: 400px;
        line-height: 30px;
    }

    &__items {
        display: flex;
    }
}

.goal {
    display: inline-block;
    height: 316px;
    width: 310px;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    margin: 0 12px auto;
    font: 100% $font-face;

    &__icon {
        height: 25px;
        margin-top: 30px;
    }

    h2 {
        color: black;
        font-size: 1.3em;
        width: 200px;
        margin: 0 auto;
        padding: 10px 0;
        line-height: 25px;
        font-weight: 500;
    }

    p {
        font-size: 1.2em;
        font-weight: 200;
        line-height: 25px;
        width: 225px;
        margin: 10px auto;
    }

    .goal__button {
        width: 179px;
        height: 48px;
        margin-top: 15px;
        background-color:#ffedcc;
        font-size: 0.8em;
        border: none;
        font-weight: 600;
        border-radius: 5px;
    }
}


