.section {
  // overflow: hidden;

  &__container {
    max-width: 1650px;
    margin: 0 auto;
    padding: 0 10px;
}

  &--landingspage {
    height: 100vh;
    width: 100%;
    max-width: 1650px;
    margin: 0 auto;
    padding: 0 10px;
  }
}
.landingspage {
  display: inline-block;
}

.landingspage__photo {
    width: 960px;
    float: right;
    position: absolute;
    top: 100px;
    right: -100px;
    z-index: -99;
  }
  
.landingspage__text {
  margin: 0 0 0 50px;
  z-index: 2;
  width: 650px;

  .landingspage__header {
    font: 100% $fontstack;
    font-size: 4.5em;
    font-weight: bold;
    margin: 140px 0 0 0;
  }

    .landingspage__paragraph {
        font: 100% $fontstack;
        font-weight: 100;
        font-size: 23px;
        margin: 0;
    }
  }

.landingspage__arrow--down {
    width: 50px;
    margin: 200px 0 0 50px;   
}