#logo {
    width: 170px;
    margin: 50px 0 0 50px;
    }
  
  #sayhello {
    height: 70px;
    float: right;
    margin: 30px 50px 0 0;
  }
  
  nav {
    display: inline-block;
    margin: 0 0 0 0;
    font-size: 1rem;
    font-style: normal;
    
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      margin: 55px 0 0 70px;
      padding: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      z-index: 1;
    }
  
    li {
      font: 100% $font-face;
      display: inline-block; 
      padding: 0 30px 0 0;
      margin-left: 45px; 
      color: #413d3d;
    }
  }