.section {
    &__container {
        max-width: 1650px;
        margin: 0 auto;
        padding: 0 10px;
    }

    &--results {
        height: 100vh;
    }
}

.results {
    margin: 100px 0 0 50px;

    &__container {
		display: flex;
        height: 75vh;
        width: auto;
        margin: 0 50px 0 0;

        &--small {
            margin: 40px auto;
        }
      }

    &__heading {
        font: 100% $fontstack;
        font-size: 2.5em;
        font-weight: 600;
        margin: 10px 0;
    }

    &__intro {
        margin: 0;
        font: 100% $font-face;
        font-size: 1.2em;
        font-weight: 200;
        width: 400px;
        line-height: 30px;
    }

    &__cardcontainer {
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
		width: 319px;
		height: 560px;
		margin: 0 30px 0 0;

		&--info {
			display: block;
		}
    }

	&__card {
		&--info {
			font: 100% $font-face;
			font-size: 1.3em;
			width: 190px;
			overflow: auto;
			display: block;
            margin: 20px 0 20px 10px;
            font-weight: 200;
		}

		&--arrowright {
			float: right;
			margin: -80px 10px 0 0;
			clear: both;
		}
    }
    
    &__progress {
        display: block;
        width: 400px;
        margin: 50px auto;
        align-items: center;
    }

}
