.section {
    &__container {
        max-width: 1650px;
        margin: 0 auto;
        padding: 0 10px;
    }
    &--review {
        height: 120vh;
    }
}

.review {
    &__header {
        margin: 0 auto;
        font: 100% $fontstack;
    }

    &__heading {
        font-size: 2.5em;
        width: 600px;
        font-weight: 700;
        margin: 0 auto;
        text-align: center;
    }

    &__intro {
        font: 100% $font-face;
        width: 420px;
        text-align: center;
        margin: 20px auto;
        font-size: 1.3em;
        font-weight: 200;
        line-height: 25px;
    }

    &__container {
        margin: 0 40px 0 0;
        width: 100%;
        height: 100%;
        display: flex;
    } 

    &__companies {
        display: block;
        width: 423px;
        height: 600px;
        margin: 5px 0 5px 50px;
    }

    &__wrap {
        display: block;
        margin: 0 40px 0 0;
        width: 100%;
        font: 100% $font-face;
    }

    &__person {
        margin: 10px 30px 0 80px;
        width: 850px;
        height: 400px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        padding-top: 40px;
    }

    &__comment {
        width: 740px;
        font-size: 1.4em;
        margin: 30px auto;
        font-weight: 300;
        color: grey;
        line-height: 35px;
    }

    &__ratings {
        width: 850px;
        height: 195px;
        margin: 5px 30px 5px 80px;
    }

    &__item {
        display: flex;
        height: 112px;
        width: 408px;
        margin: 5px;
        align-items: center;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        font: 100% $fontstack;

        img {
            width: 70px;
            margin-left: 20px;
        }
    }

    &__personcontainer {
        display: flex;
        margin: 0 0 0 55px;

        img {
            margin: 8px 0 0 0;
            width: 52px;
            height: 52px;
        }
    }

    &__container--small {
        margin-left: 20px;
        width: 250px;

        h4 {
           font: 100% $font-face;
           color: grey; 
           font-weight: 600;
           margin: 0;
           font-size: 1.2em;
        }

        p {
            margin: 0;
            font-weight: 100;
        }
    }

    &__arrow--right {
        max-width: 100%;
        height: 40px;
    }

    &__rating {
        width: 300px;
        margin: 30px 0 0 0;
    }

    &__rating--google {
        font-size: 1.1em;
        font-weight: 200;
        line-height: 25px;
        margin-top: 10px;
        width: 400px;
    }
}